* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #047cb4;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.header {
  width: 100%;
  padding: 1rem;
  background-color: #047cb4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  width: 150px;
  margin-left: 1rem;
}

.logout-button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 1rem;
  align-self: flex-start;
}

.logout-button:hover {
  background-color: white;
  color: #dc3545;
}

.options {
  text-align: center;
  margin: auto;
}

.title {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.option-button {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: #003366;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-button:hover {
  background-color: #002244;
}
